:root {
    --fonte01: 'Roboto Condensed', sans-serif;
    --fonte02: 'Montserrat', sans-serif;
    --fonte03: 'Oranienbaum', serif;
}
* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

body {
    background-color: black;
   
}

header {
    min-width: 150px;

    background: #FFf;
    box-shadow: 2px 0px 2px 2px crimson;
    padding-top: 80px;
    padding-bottom: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5rem;
}

.navbar {
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#menu {
    display:none;
}

#menu:hover {
    background-color:crimson;
    cursor:pointer;
    padding:5px;
    border-radius:20px;
}
#navitems {
    display:block;
}
header h1 {
    text-align: center;
    font-size: 4vw;
    font-family: var(--fonte03);
    font-weight: normal;
    font-variant: small-caps;
    color: crimson;
    text-shadow: 1px 1px black;
}

header p {
    font-weight: bold;
    text-align: center;
    font-family: var(--fonte02);
    color: crimson;
    text-shadow: 1px 0px black;
    font-variant: small-caps;
}

header ul li a {
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

header ul li a:hover:after {
    width: 50%;
    left: 25%;

}

section {
    min-height: 70vw;
    background-image: url("img/wallpaper02.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;


}

section.main-content h2 {
    font-weight: normal;
    padding-top: 90px;
    text-align: center;
    text-shadow: 3px 2px black;
    font-size: 2.5em;
    font-family: var(--fonte03);
    font-variant: small-caps;
    color: white;
    

}

#titulo-socialmedia{
    padding:20px;
}

section.main-content p {
    background-color: rgba(0, 0, 0, 0.49);
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 2em;
    text-indent: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
    text-align: justify;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.652);
    font-family: var(--fonte02);
    color: white;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 4px 6px;
}

.white-bg {
    background: #fff;
    min-height: 70vh;
    min-width: 150px;
    font-size: 1.5rem;
    font-family: var(--fonte02);
    line-height: 2em;
    padding: 1rem;

}

.white-bg a {
    text-decoration: none;
    font-weight: bold;
    color: purple;
}

.white-bg ul,li {
    list-style-type:none;
}
.white-bg a:hover {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 5px;
}

.white-bg p {
    font-weight: bolder;
    color: black;
}
div.projetos {
    columns:3;
    padding:20px;
    padding-right:10px;
}

p>a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

P>a:hover {
    font-weight: bold;
    color: rgba(0, 255, 255, 0.574);
    background-color: rgba(245, 245, 245, 0.381);
    border-radius: 8px;
    padding: 10px;

}

section strong {
    color: cyan;
}

section pre {
    float: right;
    padding-right: 20px;
    font-size: 2vw;
    font-family: var(--fonte02);
    padding-bottom: 50px;
    margin-right: 40px;
    color: white;
    font-weight: bold;

}

.conteudo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.socialmedia {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-left: 10px;
}

div.socialmedia-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5px;
    justify-content:center;


}
div.socialmedia a {
    display:none
    
}

div.socialmedia-content img {
    border-radius: 20px;
    padding-top: 15px;
    box-shadow: 7px 3px rgba(0, 0, 0, 0.585);
    transition: all 300ms ease-in-out;
    overflow: hidden;
    display:block;
    margin-top:50px;
    margin-left:20px;

}

div.socialmedia-content img:hover {
    transform: translate(-3%, 3%) scale(1.2);

}

footer {
    background-color:black;
    color:white;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
}

footer a {
    color:crimson;
    text-decoration:none;
}

footer a:hover {
    background-color:green;
    color:white;
    padding:10px;
    border-radius:30%;
    margin-left:5px;
}