* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
   
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

:root {
    --fonte01: 'Roboto Condensed', sans-serif;
    --fonte02: 'Montserrat', sans-serif;
    --fonte03: 'Oranienbaum', serif;
}



.nav-bar {
    
    font-size:1.2rem;
    font-weight:bold;
    
}

.nav-bar ul {
    
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:transparent;
    
    
}
.nav-bar li {
    float:right;
   
}
.nav-bar li a {
    display:block;
    text-align:center;
    padding:18px;
    text-decoration:none;
    color:white;
    font-family:var(--fonte02);
}
.nav-bar  ul li a {
    position: relative;
}
.nav-bar li a:hover {
    background-color:#52569E;
    border-radius:10%;
}
.nav-bar ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: #fff;
    transition: all 300ms ease-in-out;
}
.nav-bar  ul li a:hover:after {
    width: 50%;
    left: 25%;

}
header {
    background-color:transparent;
    background-image:url('img/wallpapper-header.jpg');
    background-size:cover;
    height:30vh;
    
    
}

header h1 {
    text-align:center;
    font-family:var(--fonte02);
    text-transform:uppercase;
    padding:32.5px;
    color:#fff;
    letter-spacing:3px;
   
}
.avatar {
    width:500px;
    height:500px;
}
.about-me {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:azure;
   
    
 }
 
.about-me h2 {
    text-decoration:underline;
    letter-spacing:3px;
    font-family:var(--fonte02);
    font-size:2rem;
    padding:8px;
    padding-top:10px;
    padding-bottom:10px;

}


.about-me p {
    font-family:var(--fonte03);
    font-size:1.3rem;
    text-align:center;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
    padding-bottom:20px;
}

.projects-exercises {
    background-image:url('img/wallpapper-header.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:600px;
    
}
.carousel-container {
    position:relative;
    max-width:82%;
    padding:15px;
    margin:0 auto;
}
.arrow-left, .arrow-right {
    position:absolute;
    top:0;
    left:0;
    right:auto;
    bottom:0;
    font-size:40px;
    width:40px;
    color:#fff;
    border:none;
    cursor:pointer;
    background:linear-gradient(to left, transparent 0%, black 200%);
    opacity:0.1;
    transition:all 600ms ease-in-out;
}
.arrow-right {
    right:0;
    left:auto;
    background:linear-gradient(to right, transparent 0%, black 200%)
}

.arrow-left:hover,.arrow-right:hover {
    opacity:1;
}

.projects-exercises  h2 {
    font-size:2rem;
    color:white;
    font-family:var(--fonte03);
    text-transform:uppercase;
    letter-spacing:3px;
    text-align:center;
    padding:25px;
}

.projects-exercises p {
    font-size:1.4rem;
    color:white;
    font-family:var(--fonte02);
    text-align:center;
    padding:10px;
}

.carousel-container p {
    font-size:1rem;

}
.flex-container-wrapper {
    overflow-x:auto;
}
.flex-container {
    display:flex;
    flex-flow: row nowrap;
    gap:2rem;
    flex-shrink:0;
}

.item {
        width:250px;
        height:250px;
        margin:10px;
        border-radius:10px;
        border:2px solid #fff;
        transition:all 600ms ease-in-out;
        opacity:0.6;
        box-shadow:2px 4px rgba(0, 0, 0, 0.726);
        
}

.current-item:hover {
    cursor:pointer;
}

.current-item {
    opacity:1;
    border:3px solid #52569E;
    
}

.flex-container-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .flex-container-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .container {
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
    height:30vh;
    gap:2rem;
    font-size:2rem;
  }

  footer {
    background-color:azure;
  }

  footer p {
    text-align:center;
    font-size:1.2rem;
    letter-spacing:3px;
    background-color:black;
    color:white;
    font-family:var(--fonte03);
    padding:15px;
    margin:0;
  }

footer h2 {
    text-transform:uppercase;
    letter-spacing:2px;
    text-align:center;
    font-family:var(--fonte02);
    padding-top:25px;
}
.whatsapp-link {
    position:fixed;
    width:60px;
    height:67px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:white;
    border-radius:43px;
    text-align:center;
    font-size:43px;
    box-shadow:1px 1px 2px #888;

    z-index:1000;
}
whatsapp-link {
    position: fixed;
    width: 68px;
    height: 67px;
    bottom: 40px;
    right: 0px;
    background-color: #25d366;
    color: white;
    border-radius: 43px;
    text-align: center;
    font-size: 43px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.bi-whatsapp {
    padding:3px;
}
