@media screen and (max-width:768px) {

    .flex-container {
        max-width:100%;
        
        padding-top:80px;
    }

    .projects-exercises  h2 {
        font-size:1.5rem;
    }

    .socialmedia-content img {
        display:grid;
        grid-template-columns: 0.5fr;
        max-width:70%;
        height:75%;
        padding-left:30px;
       
        
        
    }
    section#contato {
        min-height:82vw;
        max-width:100vw;
        min-width:150px;
    }

    section#contato h2 {
        padding-top:-30px;
    }
span#menu {
    display:block;
    float:right;
}
nav#items {
    display:none;
}
nav#items ul  {
    display:flex;
}
nav#items ul li a {
    display:block;
    justify-content:center;
}
  .navbar {
    display:block;
  }

  
 footer p {
    font-size:0.8rem;
 }

 .about-me h2 {
    font-size:1.5rem;
 }
.about-me p {
    font-size:0.825rem;
}
 .item {
    width:150px;
    height:150px
 }

 .projects-exercises p  {
    font-size:0.750rem;
 }
}